<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright" style="line-height: 1.3em;">
      <a href="/">{{.Site.Params.orgName}}</a> {{.Site.Params.copyright}} <br>
    </section>
    <nav class="site-footer-nav">
        <a href="/">Latest Posts</a>
        {{with .Site.Params.gabName}}<a href="https://gab.ai/{{.}}" target="_blank" rel="noopener">Gab</a>{{end}}
        {{with .Site.Params.mindsName}}<a href="https://minds.com/{{.}}" target="_blank" rel="noopener">Mids</a>{{end}}
        {{with .Site.Params.fbName}}<a href="https://www.facebook.com/{{.}}" target="_blank" rel="noopener">Facebook</a>{{end}}
        {{with .Site.Params.twitterName}}<a href="https://twitter.com/{{.}}" target="_blank" rel="noopener">Twitter</a>{{end}}
        {{with .Site.Params.githubName}}<a href="https://github.com/{{.}}" target="_blank" rel="noopener">Github</a>{{end}}
        {{with .Site.Params.telegramLink}}<a href="{{.}}" target="_blank" rel="noopener">Telegram</a>{{end}}
        {{with .Site.Params.twitchName}}<a href="https://twitch.tv/{{.}}" target="_blank" rel="noopener">Twitch</a>{{end}}
        {{with .Site.Params.ytName}}<a href="https://youtube.com/c/{{.}}" target="_blank" rel="noopener">YouTube</a>{{end}}
    </nav>  
  </div>
</footer>
